// @import "../assets/css/normalize.css";

@import 'aos/dist/aos.css';
@import "/node_modules/normalize.css";
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "./libs.scss";


// переменные
$gap:15px;


body {
    // background-image: url(./assets/img/bg.jpg);
    font-family: 'Roboto', sans-serif;
    background-color: #fff;

    input {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #C0C0C0;
    }

    a {
        font-family: Roboto;
        font-style: normal;


    }

}





// бургер с медиа
#burger-menu {
    width: 64px;
    height: 64px;
    background-color: #3C67BA;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    display: none;
    position: absolute;
    right: $gap;
    top: $gap;
}

#burger-menu span {
    display: block;
    width: 32px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    left: 16px;
    transition: 200ms ease;
}

#burger-menu span:nth-child(1) {
    top: 20px;
}

#burger-menu span:nth-child(2) {
    top: 30px;
}

#burger-menu span:nth-child(3) {
    top: 40px;

}

#burger-menu.open span:nth-child(2) {
    transform: scaleX(0);
}

#burger-menu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 30px;
}

#burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 30px;
}

#shadow {
    display: none;
}

.logo_hiden {
    display: none;
    margin: 0;
    padding-top: 15px;
}


menu {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

// адаптив для меню
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .main-menu_top {}
}

@media screen and (max-width: 1200px) {
    .logo_hiden {
        display: block;
        margin: 0;
        padding-top: 15px;
    }

    menu {
        margin: 0;

        .main-menu_top {

            flex-direction: column;
            align-items: flex-start;

            margin-bottom: 2*$gap;

            div {
                margin-bottom: $gap;
            }

            .search {
                // display: none;
            }

            .btn-call {
                display: none;
            }

        }

        .main_menu_bottomn {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 0;
            margin-bottom: 0;

            div {
                margin-bottom: $gap;
            }
        }

        .btn-call {

            // position: static;
        }

    }

    #burger-menu {
        display: block;
        z-index: 9997;
    }

    #shadow {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 9996;
    }

    #shadow.open {
        display: block;
    }


    #main-menu {

        position: absolute;
        top: 0;
        left: -260px;
        width: 100%;
        max-width: 260px;
        height: auto;
        background-color: #fff;
        flex-direction: column;

        padding: 15px;
        box-sizing: border-box;
        transition: 300ms ease;
        z-index: 9997;
        border-radius: 0 12px 12px 0;
    }

    #main-menu.open {
        padding-top: 2*$gap;
        padding-left: 2*$gap;
        left: 0px;
        justify-content: flex-start;
        overflow: hidden;
        max-width: 320px;


        // >div {
        //     margin-bottom: 2*$gap;
        // }

        .btn-order {
            position: static;
        }


    }


}

// бургер с медиа//


// главная
.main-screen {
    padding-top: 1.5*$gap;
    background-position: 34vw;
    background-repeat: no-repeat;
    min-height: 100vh;
}

menu {
    display: flex;
    // align-items: center;
    flex-direction: column;
    position: relative;
    padding-left: 0;

    .logo {
        margin-right: $gap;
    }

    a {
        text-decoration: none;
        white-space: nowrap;


        &:hover {
            color: #4B7FE3;
            ;
        }
    }

    .main-menu_top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .language {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #848484;
            position: relative;
            // .change_lang{
            //     display: none;
            //     position: absolute;
            // }
            // &:hover .change_lang{
            //     display: block;
            //     position: absolute;
            //     right: 0;
            // }
        }

        .dropdown-toggle {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #848484;
            border: none;
            background: none;

            &::after {
                border: none;
                margin: 0;
            }
        }

        .dropdown-menu {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            padding-left: 9px;
            padding-right: 9px;
            color: #848484;
            min-width: auto;
            border: none;
            background-color: #ECF2F9;

            a {
                color: #848484;
                min-width: auto;
                border: none;
                background-color: #ECF2F9;

                p {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }

        }

        .search {

            position: relative;

            input {
                background-color: #F5F5F5;
                border-radius: 30px;
                padding: $gap 2.5*$gap $gap 1.5*$gap;
                border: 1px solid #EAEAEA;
                box-shadow: none;
                outline: none;

                &::placeholder {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;

                    color: #C0C0C0;

                }
            }

            img {
                position: absolute;
                right: 24px;
                top: calc(50% - 7px);
            }
        }

        .contacts {
            display: flex;
            align-items: center;
            margin-left: $gap;
        }

        .mail_item {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #4A4A4A;

                &:hover {
                    color: #3C67BA;
                }
            }

            img {
                margin-right: 12px;
            }

        }

        .telephone_item {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                color: #000000;

                &:hover {
                    color: #3C67BA;
                }
            }

            img {
                margin-right: 12px;
            }

        }
    }

    .main_menu_bottomn {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        margin-top: 2*$gap;

        .dropdown-menu {
            background: #ECF2F9;
            border-radius: 10px;
            border: none;
            padding: 20px;
            left: -20px !important;
            min-width: 100%;

            &.show {
                inset: auto !important;
                transform: translate3d(0, 0, 0) !important;
                left: -20px !important;
                top: 100%;

                // left: 81px !important;
                li {
                    &:last-child .dropdown-item {
                        padding-bottom: 0;
                    }
                }

                .dropdown-item {
                    padding: 0;
                    padding-bottom: $gap;

                }

            }

            .dropdown-item:focus,
            .dropdown-item:hover {
                background: none;
            }
        }



        .dropdown-toggle:after {
            display: none;

        }



        a {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #000000;

            &:hover {
                color: #3C67BA;
            }
        }
    }

}


.btn-call {

    background: linear-gradient(94.09deg, #3C67BA 0%, #4B7FE3 100%);
    box-shadow: 0px 6px 24px rgba(60, 103, 186, 0.32);
    border-radius: 50px;
    padding: $gap 2*$gap;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    white-space: nowrap;

    &:hover {
        color: #FFFFFF;
        background: linear-gradient(93.33deg, #356AD2 0%, #4984F4 100%);
        box-shadow: 0px 10px 24px rgba(60, 103, 186, 0.34);
    }
}

.btn {
    overflow: hidden;
    position: relative;

    &::after {
        content: "";

        display: block;
        width: 30px;
        height: 200px;
        margin-left: 60px;
        background: rgba(241, 236, 236, 0.7);
        filter: blur(20px);
        position: absolute;
        left: -316px;
        top: -78px;
        z-index: 1;
        transform: rotate(45deg);
        transition: all .1s;

        animation-name: slideme;

        animation-duration: 2s;

        animation-delay: .05s;
        animation-timing-function: ease-in-out;

        animation-iteration-count: infinite;
    }

    @keyframes slideme {
        0% {
            left: -116px;
        }

        100% {
            left: 256px;
        }
    }
}


.main-content {
    margin-top: 210px;
    max-width: 34*$gap;

    .btn {
        box-shadow: 0px 6px 32px rgba(60, 103, 186, 0.32);
        padding: 24px 48px;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 200px;
            margin-left: 60px;
            background: rgba(241, 236, 236, 0.7);
            filter: blur(20px);
            position: absolute;
            left: -316px;
            top: -78px;
            z-index: 1;
            transform: rotate(45deg);
            transition: all .1s;

            animation-name: slideme;

            animation-duration: 2s;

            animation-delay: .05s;
            animation-timing-function: ease-in-out;

            animation-iteration-count: infinite;
        }

        @keyframes slideme {
            0% {
                left: -116px;
            }

            100% {
                left: 256px;
            }
        }
    }

    h1 {
        font-weight: 300;
        font-size: 48px;
        line-height: 120.3%;
        color: #000000;
        margin-bottom: 2.3*$gap;

    }

    p {
        margin-bottom: 3*$gap;
    }
}

.bold_txt {
    font-weight: 900;
}

.blue_txt {
    color: #4B7FE3;
}

.biography {
    margin-top: 70px;
    overflow: hidden;

    .container {
        display: flex;

        .left {
            margin-right: 75px;
        }

        .right {
            .first_line {
                font-weight: 300;
                font-size: 18px;
                line-height: 124.3%;
                color: #000000;
                margin-bottom: $gap;
            }

            .name {
                font-weight: 300;
                font-size: 30px;
                line-height: 124.3%;
                color: #000000;
                margin-bottom: 1.3*$gap;
            }

            .biography_text {
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 152.3%;
                    color: #000000;
                }

                margin-bottom: 1.3*$gap;
            }

            .facts_title {
                font-weight: 300;
                font-size: 30px;
                line-height: 124.3%;
                color: #000000;
                margin-bottom: 1.3*$gap;
            }

            .facts_numbers {
                display: flex;
                justify-content: space-between;

                .number_item {
                    display: flex;
                    align-items: center;

                    .number {
                        font-weight: 900;
                        font-size: 32px;
                        line-height: 152.3%;
                        color: #4B7FE3;
                        margin-right: 12px;
                    }

                    .number_txt {
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 132.3%;
                        color: #000000;

                        .top {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

.types {
    margin-top: 100px;
    margin-bottom: 7*$gap;
    overflow: hidden;

    h2 {
        font-weight: 400;
        font-size: 42px;
        line-height: 49px;
        text-align: center;
        color: #000000;
        margin-bottom: 4*$gap;
    }

    .container {
        .tabs_nav {
            background: #EDEDED;
            border-radius: 40px;
            max-width: 485px;
            justify-content: space-between;
            margin: auto;
            margin-bottom: 4*$gap;

            .nav-link {
                background: #EDEDED;
                padding: 23px 3*$gap;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;

                border-radius: 50px;
                transition: 1s ease;
                color: #9C9C9C;

                &.active {
                    background: linear-gradient(94.09deg, #3C67BA 0%, #4B7FE3 100%);
                    border-radius: 50px;
                    transition: 1s ease;
                    color: #FFFFFF;
                }
            }

        }

        .tab-pane {
            position: relative;
        }

        .tab-content {



            .carusel-item {
                width: 570px;
                height: 172px;
                padding: 2*$gap 4.5*$gap;

                .item_text {
                    p {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 132.3%;
                        color: #FFFFFF;

                    }

                    a {
                        white-space: nowrap;
                        text-decoration: none;
                        color: #fff;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;



                    }
                }


            }
        }
    }
}

// управление каруселью
.arrow_car {
    background: linear-gradient(225deg, #3C67BA 0%, #4B7FE3 100%);
    box-shadow: 0px 10px 32px rgba(75, 127, 227, 0.34);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    width: 48px;
    height: 48px;
    position: absolute;
    top: calc(50% - 30px);
}

.slider-left3,
.slider-left2,
.slider-left,
.arrow-left {
    left: -24px;
}

.slider-right3,
.slider-right2,
.slider-right,
.arrow-right {
    right: -24px;
}

// управление каруселью

.small_txt {
    font-size: 16px;
    line-height: 186.3%;
}


.sertificate {
    margin-bottom: 100px;
    position: relative;


    h2 {
        font-weight: 300;
        font-size: 42px;
        line-height: 49px;
        text-align: center;
        color: #000000;
        margin-bottom: 6*$gap;
    }

    .sertificate-carusel {
        position: relative;
    }

    .blue_fon {
        top: 325px;
        position: absolute;
        background: #ECF2F9;
        height: 727px;
        width: 100%;
        z-index: -1;

    }
}

.rewiews {
    overflow: hidden;

    h2 {
        font-weight: bold;
        font-size: 42px;
        line-height: 49px;
        text-align: center;
        color: #000000;
        margin-bottom: 70px;
    }

    .carusel-item {
        padding: 40px 70px;
        background: #FFFFFF;
        box-shadow: 0px 14px 32px rgba(117, 143, 193, 0.06);
        border-radius: 10px;

        .top_info {
            margin-bottom: 25px;
            display: flex;

            .avatar {
                img {
                    border-radius: 120%;
                    object-fit: cover;
                    object-position: center;
                    max-width: 48px;
                    margin-right: $gap;
                }

            }

            .name {
                font-weight: bold;
                font-size: 14px;
                line-height: 152.3%;
                color: #000000;

            }

            .date {
                font-weight: 300;
                font-size: 14px;
                line-height: 152.3%;
                color: #9C9C9C;
            }
        }

        .bottom_info {
            font-weight: normal;
            font-size: 14px;
            line-height: 152.3%;
            color: #000000;
        }
    }
}

.contacts {
    margin-top: 11*$gap;
    margin-bottom: 6*$gap;
    overflow: hidden;

    h2 {
        .bold_txt {
            font-weight: 700;
        }

        font-weight: 300;
        font-size: 42px;
        line-height: 49px;
        text-align: center;
        color: #000000;
        margin-bottom: 70px;
    }

    .button {
        margin-top: 2*$gap;

        button {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            padding: 22px 48px;
        }

    }


    .tabs_nav {
        background: #EDEDED;
        border-radius: 40px;
        max-width: 570px;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 4*$gap;
        flex-wrap: nowrap;

        .nav-link {
            background: #EDEDED;
            padding: 23px 3*$gap;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;

            border-radius: 50px;
            transition: 1s ease;
            color: #9C9C9C;

            &.active {
                background: linear-gradient(94.09deg, #3C67BA 0%, #4B7FE3 100%);
                border-radius: 50px;
                transition: 1s ease;
                color: #FFFFFF;
            }
        }

    }

    .tab-content {
        max-width: 970px;
        margin: auto;


        .tab-pane {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: $gap;
            // position: static;

        }

        .fade:not(.show) {
            // display: none;
            // position: absolute;
        }

        &>.tab-pane {
            display: none;
        }

        &>.active {
            display: flex;
        }

        .left {
            h3 {
                color: #4B7FE3;
                font-weight: 900;
                font-size: 24px;
                line-height: 148.3%;
            }

            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 198.3%;
                color: #000000;
                margin: 0;
            }

            .name {
                a {
                    text-decoration: none;
                    color: #4B7FE3;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 147.3%;
                }
            }

            >div {
                margin-bottom: .5*$gap;
            }
        }

        .right {
            border: 3px solid #4B7FE3;
            box-sizing: border-box;
            border-radius: 10px;
        }
    }
}

footer {
    padding-top: 40px;
    background: linear-gradient(94.09deg, #3C67BA 0%, #4B7FE3 100%);

    .container {
        display: flex;
        flex-direction: column;

        .telephone,
        .email {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            margin-bottom: 0.7*$gap;

            img {
                margin-right: 10px;
            }
        }

        .footer_top {
            display: flex;
            align-items: flex-start;
            margin-bottom: 4*$gap;

            >div {
                margin-bottom: $gap;
                margin-right: $gap;
            }

            .btn-footer {
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 50px;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                transition: 500ms ease;
                padding: 15px 30px;
                background: #4b80e344;

                &:hover {
                    color: #4b80e3;
                    background: #fff;
                }
            }

        }

        .footer_botomn {
            display: flex;
            justify-content: space-between;
            padding-top: 2.3*$gap;
            padding-bottom: 2*$gap;
            border-top: 1px solid rgba(255, 255, 255, 0.2);

            .left {
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }

            .right {
                a {
                    text-decoration-line: underline;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 16px;
                }
            }


        }

        a {
            text-decoration: none;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            white-space: nowrap;

            &:hover {
                color: #FFFFFF;
            }
        }
    }
}

// адаптив


@media screen and (min-width:1200px) {

    .main_menu_bottomn {



        .dropdown {
            &:hover {
                ul {
                    display: block;


                    li {
                        &:last-child .dropdown-item {
                            padding-bottom: 0;
                        }
                    }

                    .dropdown-item {
                        padding: 0;
                        padding-bottom: $gap;

                    }
                }
            }

        }
    }



}




@media screen and (max-width:1200px) {

    menu {
        .main_menu_bottomn {


            .dropdown-menu {
                &.show {

                    position: static !important;

                }
            }

            .dropdown {
                &:hover {
                    ul {
                        // position: static;
                    }
                }

            }
        }

    }

    .biography {
        .container {
            flex-direction: column;

            .left {
                margin: auto;
                margin-bottom: 2*$gap;
            }
        }
    }

    .footer_top {
        flex-wrap: wrap;
    }

    .types .container .tab-content .carusel-item {
        width: auto;
        height: auto;
        min-height: 172px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }


}

@media screen and (max-width:1000px) {
    .contacts .tab-content {
        max-width: 580px;

        .tab-pane {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .left {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: start;
                margin-bottom: $gap;

                >div {
                    margin-right: $gap;
                }
            }
        }
    }
}

@media screen and (max-width:840px) {
    .main-screen {
        background-position: 20vw;
        ;
    }
}

@media screen and (max-width:768px) {
    .facts {
        .facts_numbers {
            .number_item {
                flex-wrap: wrap;

                .number,
                .number_txt {
                    white-space: nowrap;
                }
            }
        }
    }

    .contacts {
        margin-top: 2*$gap;

        h2 {
            margin-bottom: 2*$gap;
        }

        .contacts-tabs {
            .tabs {
                .tabs_nav {
                    flex-direction: column;
                    background: none;
                    margin-bottom: $gap;

                    .nav-item {
                        text-align: center;
                        margin-bottom: $gap;
                    }
                }
            }
        }

        .right {
            overflow: hidden;
            max-width: 100%;
        }
    }

    .types {
        margin-top: 2*$gap;
        margin-bottom: 2*$gap;

        h2 {
            margin-bottom: $gap;
        }
    }

    .sertificate {
        margin-bottom: 2*$gap;

        h2 {
            margin-bottom: 2*$gap;
        }

        .blue_fon {
            top: 218px;
            height: 525px;
        }
    }

    .rewiews {
        h2 {
            margin-bottom: 2*$gap;
        }
    }
}

@media screen and (max-width:670px) {
    .main-screen {
        background-position: -20vw;
        ;
    }
}

@media screen and (max-width:600px) {
    .arrow_car {
        display: none;
    }
}

@media screen and (max-width:550px) {
    .main-screen {
        background-position: -60vw;
        background-position-y: -40px;

        p,
        h1 {
            text-shadow: 1px 2px 12px #fff;
        }
    }

    .biography {
        margin-top: 0;
    }

    .types .container {
        .tabs_nav {
            flex-direction: column;
            background: none;
            margin-bottom: $gap;

            .nav-item {
                margin-bottom: $gap;
            }
        }
    }
}

@media screen and (max-width:450px) {
    .facts {
        .facts_numbers {
            flex-direction: column;
            padding-left: 2*$gap;
        }
    }

    .sertificate .blue_fon {
        top: 218px;
        height: 585px;
    }
}

@media screen and (max-width:400px) {
    footer .container .footer_top {
        flex-direction: column;

    }
}

// -главная



// страница контентная

.content-screen {
    background-repeat: no-repeat;
    background-position: center top;
    margin-bottom: 8*$gap;

    .main-content {
        margin-top: 80px;
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        nav {
            margin: auto;
        }

        .breadcrumb-item {

            font-weight: normal;
            font-size: 12px;
            line-height: 148.3%;
            text-align: center;
            color: #000000;
        }

        h1 {
            font-weight: 900;
            font-size: 48px;
            line-height: 120.2%;
            text-align: center;
            color: #000000;
        }
    }
}

.content_p {
    .paragraph {
        margin-bottom: 3*$gap;

        h2 {
            font-weight: 900;
            font-size: 36px;
            line-height: 42px;
            color: #000000;
        }

        h3 {
            font-weight: 900;
            font-size: 30px;
            line-height: 35px;
            color: #000000;
        }

        h4 {
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;

            color: #121814;
        }

        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 148.3%;
            color: #000000;
        }

        ol,
        ul {
            padding-left: 1rem;

        }

        .table {
            overflow: hidden;

            border-radius: 8px;

            .thead {
                background: #4B7FE3;
                padding: 25px 40px;

                font-weight: bold;
                font-size: 14px;
                line-height: 120.2%;
                color: #FFFFFF;

            }

            .trow {
                padding: 15px 40px 15px 40px;
                background: #EBF2FF;


                &:hover {
                    background: #ebf2ffc5;
                }

                &:first-child {
                    padding-top: 30px;
                }

                &:last-child {
                    padding-bottom: 30px;
                }
            }
        }
    }

    .paragraph_img {
        display: flex;

        img {
            margin-right: 2*$gap;
            object-fit: cover;
            border-radius: 8px;
        }

        p {
            margin-bottom: 27px;
        }

    }
}

@media screen and (max-width:1200px) {
    .paragraph img {
        max-width: 450px;
        margin-bottom: $gap;
    }
}

@media screen and (max-width:1100px) {
    .paragraph_img {
        display: flex;
        flex-direction: column;
    }

    .paragraph .left {
        align-self: center;
    }
}

@media screen and (max-width:992px) {
    .content_p .paragraph .table {
        overflow: scroll;


    }
}

@media screen and (max-width:600px) {
    .table {
        overflow: scroll;

        .thead {
            min-width: 600px;

        }

        .trow {
            min-width: 600px;
        }
    }

    .content_p .paragraph_img {
        display: flex;

        img {
            margin-right: 0;
            object-fit: cover;
            border-radius: 8px;
        }

        p {
            margin-bottom: 27px;
        }

    }
}

@media screen and (max-width:600px) {
    .content-screen {
        margin-bottom: $gap;
    }

    .content_p .paragraph_img {


        img {
            max-width: 290px;
        }
    }
}

// страница отзывов
.reweiws_p {
    background-color: #ECF2F9;
    margin-bottom: 0;

    h1 {
        margin-bottom: 60px;
    }



    .reweiws {

        display: flex;
        flex-direction: column;
        align-items: center;

        .container {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
        }

        .reweiws-item {
            padding: 40px 70px;
            background: #FFFFFF;
            box-shadow: 0px 14px 32px rgba(117, 143, 193, 0.06);
            border-radius: 10px;

            .top_info {
                margin-bottom: 25px;
                display: flex;

                .avatar {
                    img {
                        border-radius: 120%;
                        object-fit: cover;
                        object-position: center;
                        max-width: 48px;
                        margin-right: $gap;
                    }

                }

                .name {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 152.3%;
                    color: #000000;

                }

                .date {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 152.3%;
                    color: #9C9C9C;
                }
            }

            .bottom_info {
                font-weight: normal;
                font-size: 14px;
                line-height: 152.3%;
                color: #000000;
            }
        }




    }

    .form {

        margin-top: 100px;
        padding-bottom: 8*$gap;

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form_block {
            max-width: 570px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            flex-grow: 1;

            h4 {
                font-weight: 300;
                font-size: 48px;
                line-height: 120.2%;
                text-align: center;
                color: #000000;
                margin-bottom: 4*$gap;

                .bold_txt {
                    font-weight: 700;
                }
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-weight: normal;
                font-size: 14px;
                line-height: 124.3%;
                color: #8D8D8D;

                textarea,
                input {
                    padding: 10px 17px;
                    background: none;
                    border: none;
                    border-bottom: 1px solid rgba(141, 141, 141, 0.4);
                    width: 100%;
                    box-shadow: none;


                    &:active {
                        border: none;
                        border-bottom: 1px solid rgba(141, 141, 141, 0.4);
                        box-shadow: none;
                        outline: none;
                    }

                    &:focus {
                        border: none;
                        border-bottom: 1px solid rgba(141, 141, 141, 0.4);
                        box-shadow: none;
                        outline: none;
                    }

                    &::placeholder {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 124.3%;
                        color: #8D8D8D;
                    }

                }

                input {
                    margin-bottom: 2*$gap;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 124.3%;
                    color: #8D8D8D;


                }

                textarea {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 124.3%;
                    color: #8D8D8D;
                    resize: none;
                    height: 7*$gap;
                    overflow: auto;


                }

                button {
                    margin-top: 4*$gap;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #FFFFFF;
                    padding: 25px 49px;
                }
            }
        }
    }
}

// пагинация
nav.nav_pagination {
    border: none;
    margin: auto;
    margin-top: 6*$gap;

    .page-item {
        .page-link {
            border: none;
            background: none;
            width: 36px;
            height: 36px;
        }
    }

    .page-item {
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 29px;
        // height: 29px;
        margin-right: 10px;

        &:first-child {
            margin-right: 20px;
            width: auto;
        }

        &:last-child {
            margin-left: 20px;
            width: auto;
        }

        .page-link {
            display: block;
            background: #BCD3FF;
            font-weight: normal;
            font-size: 16px;
            line-height: 152.3%;
            color: #FFFFFF;
            border-radius: 120%;

        }
    }

    .page-item.prev,
    .page-item.next {


        border: none;
        background: none;

        .page-link {
            display: block;
            border: none;
            background: none;
            font-weight: normal;
            font-size: 14px;
            line-height: 152.3%;
            color: #4B7FE3;
            width: auto;
        }

    }

    .page-item.prev {

        .page-link {
            color: #BCD3FF;
        }
    }

    .pagination {
        margin-bottom: 0;
    }

    .page-item.active .page-link {
        background: #4B7FE3;
    }
}

// -пагинация


@media screen and (max-width:650px) {
    .reweiws .container {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

        .reweiws-item {
            padding: 15px 30px;
        }
    }

}

@media screen and (max-width:390px) {
    .reweiws .container {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

        .reweiws-item {
            padding: 15px 30px;
        }
    }
}


// страница статьи
.articles_p.content-screen {
    background-color: #ECF2F9;
    margin-bottom: 0;
    padding-bottom: 6*$gap;

    h1 {
        margin-bottom: 60px;
        font-weight: bold;
        font-size: 48px;
        line-height: 120.2%;
        text-align: center;
        color: #000000;
    }



    .articles {

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .container {
            .articles-item {
                display: flex;
                background: #FFFFFF;
                box-shadow: 0px 14px 32px rgba(117, 143, 193, 0.06);
                border-radius: 10px;
                overflow: hidden;
                margin-bottom: 2*$gap;

                .left {
                    img {
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        max-width: 370px;
                    }
                }

                .right {
                    padding: 50px 73px;

                    h4 {
                        margin-bottom: $gap;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 28px;
                        color: #121814;
                    }

                    .txt_block {
                        // max-height: 50px;
                        // white-space: nowrap; /* Запрещаем перенос строк */
                        overflow: hidden;
                        /* Обрезаем все, что не помещается в область */
                        text-overflow: ellipsis;



                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 148.3%;
                        color: #000000;
                    }

                    p {
                        text-overflow: ellipsis;

                    }
                }

                .bottom {
                    display: flex;
                    justify-content: space-between;

                    .more_info {
                        a {
                            text-decoration: none;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 36px;
                            text-align: center;
                            color: #4B7FE3;
                        }
                    }

                    .date {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 36px;
                        text-align: right;
                        color: #4B7FE3;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:992px) {
    .content-screen.articles_p {
        padding-bottom: 2*$gap;


        .articles {


            .container {
                .articles-item {
                    // max-height: 200px;
                    flex-direction: column;

                    .left {
                        max-height: 200px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            height: auto;
                            max-width: none;
                            width: 100%;
                        }

                    }

                    .right {
                        padding: 20px 27px;
                    }
                }
            }


            .nav_pagination {
                margin-top: $gap;
            }
        }
    }

}


.content-screen.faq_p {
    min-height: 90vh;
    margin-bottom: 0;
    padding-bottom: 8*$gap;

    h1 {
        font-weight: 300;
        font-size: 48px;
        line-height: 120.2%;
        text-align: center;
        color: #000000;
    }




    .faq {
        .container {
            display: flex;
            justify-content: space-between;
            // justify-content: center;
            align-items: flex-start;
            // flex-basis: calc((100% / 2) - 35px);
            flex-wrap: wrap;
        }

        // аккордион
        .accordion {

            width: 50%;
            min-width: 250px;
            max-width: calc((100% / 2) - 15px);
            display: grid;
            grid-gap: 30px;

            // grid-template-columns: repeat(auto-fit,minmax(1fr));
            .accordion-item {
                border-top: none;
                background: none;
                border-bottom: none;
            }
        }

        .accordion-button {
            padding-right: 0;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 160.7%;
            color: #000000;
            border-top: none;
            border-bottom: 1px solid #DFDFDF;
            box-shadow: none;
            background: none;

            &:not(.collapsed) {
                background: none;
            }

            margin-right: 10px;

        }



        .accordion-button:focus {
            // border-color:none;
        }

        .accordion-button:after {
            content: '+';
            font-family: 'Itim', cursive;
            background-image: none;
            color: #4B7FE3;
            ;
            font-size: 35px;
            font-weight: 500;
            transform: translateY(-10px);

        }

        font-size: 35px;
        font-weight: 500;

        .accordion-button:not(.collapsed):after {
            color: #CACACA;

            transform: rotate(-135deg) translate(2px, -3px);

        }




        .accordion-body {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 160.7%;
            color: #646464;
            border: none;
        }

    }
}



@media screen and (max-width:992px) {

    .content-screen.faq_p {

        .faq {
            .container {


                justify-content: center;

            }
        }
    }



}

@media screen and (max-width:523px) {

    .content-screen.faq_p {
        padding-bottom: 2*$gap;

        .faq {
            .accordion {
                max-width: none;

                .accordion-button {
                    //    margin-right: 15px;
                    padding-left: 2*$gap;

                    &::after {
                        position: absolute;
                        left: 0;
                        top: calc(50% - 6px);
                        // margin-right: 5px;
                    }
                }
            }
        }
    }



}


.content-screen.certificate_p {
    margin-bottom: 0;
    padding-bottom: 140px;

    .certificate_glery {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

        // display: flex;

        // flex-wrap: wrap;
        // margin: auto;
        .galery_item {
            display: flex;
            align-items: center;
            justify-content: center;

            // max-width: calc((100% / 4) - 15px);
            // margin-right: 2*$gap;
            // margin-bottom: 2*$gap;
            .wrapper {
                background-repeat: no-repeat;
                width: 270px;
                height: 348px;
                position: relative;

                img {
                    position: absolute;
                    display: block;
                    max-width: 190px;
                    max-height: 274px;
                    top: 39px;
                    ;
                    left: 40px;
                }
            }


        }
    }
}

.contacts_p {
    .contacts {
        margin-top: 2*$gap;
    }
}


.surgery_p {
    margin-bottom: 0;
    padding-bottom: 260px;
    min-height: 90vh;

    .surgery_items {
        margin-top: 35px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));

        .carusel-item {
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 8px;
            padding: 2*$gap 4.5*$gap;



            .item_text {
                p {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 132.3%;
                    color: #FFFFFF;

                }

                a {
                    white-space: nowrap;
                    text-decoration: none;
                    color: #fff;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;



                }
            }
        }

    }

}

@media screen and (max-width:700px) {

    .surgery_p {

        padding-bottom: 2*$gap;
        min-height: 90vh;

        .surgery_items {
            margin-top: $gap;
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .carusel-item {

                padding: $gap 2*$gap;
            }
        }
    }


}





// modal

// лицензионное соглашение

.modal {
    background: rgba(0, 0, 0, 0.52);

    .modal-dialog {
        .modal-content {
            background-repeat: no-repeat;
            background-size: cover;
            padding: 50px 70px;
            position: relative;
            border-radius: 12px;

            .form {
                .btn_close {
                    position: absolute;
                    right: 30px;
                    top: 24px;
                    border: none;
                    background: none;
                }

                h4 {
                    font-weight: 300;
                    font-size: 30px;
                    line-height: 124.7%;
                    text-align: center;
                    color: #181818;
                    margin-bottom: 30px;

                }

                form {
                    display: flex;
                    flex-direction: column;

                    textarea,
                    input {
                        background: #FFFFFF;
                        border-radius: 60px;
                        border: none;
                        margin-bottom: 10px;
                        padding: 25px 35px;

                        &:focus {
                            border: none;
                            outline: none;
                        }

                        &:valid {
                            background: #FFF;
                        }

                        &::placeholder {
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 112.7%;
                            color: #B5B5B5;
                        }

                        &.file_load {
                            background: none;
                        }


                    }

                    textarea {
                        border-radius: 24px;
                        resize: none;

                    }

                    button {
                        padding: 30px 20px;
                        text-align: center;
                        margin-bottom: 20px;

                        font-weight: normal;
                        font-size: 14px;
                        line-height: 112.7%;
                        color: #FFFFFF;

                    }

                    .checkbox_lbl {
                        display: flex;
                        align-items: center;
                        max-width: 225px;
                        margin: auto;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 132.7%;
                        color: #000000;

                        input {
                            margin-right: 9px;
                        }
                    }

                    .load_lbl {
                        display: flex;
                        align-items: center;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 132.7%;
                        color: #4B7FE3;
                        margin: auto;
                        cursor: pointer;
                        margin-top: 5px;
                        margin-bottom: 15px;
                        img{
                            margin-right: 3px;
                           
                        }
                    }
                    .file_load{
                        opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 0;
  padding: 0;
  margin: 0;
                    }

                }
            }
        }
    }



}

@media screen and (max-width:550px) {

    .modal {


        .modal-dialog {
            .modal-content {

                padding: 15px 20px;
                padding-top: 50px;

            }
        }
    }

}


// -модальные окна